<div class="unit span-grid">
	<h1>Admin</h1>

	<table border=1>
		<tr>
			<th>User Name</th>
			<th>Current weight</th>
			<th>Goal weight</th>
			<th>Fitness activities</th>
		</tr>
		<% @users.each do |u| %>
			<tr>
				<td><%= link_to u.name, user_path(u) %></td>
				<td><%= u.current_weights.last[:weight] %><%= u.option[:weight] %></td>
				<td><%= u.goal_weights.last[:weight] %><%= u.option[:weight] %></td>
				<td><%= u.fitness_logs.count %></td>
			</tr>
		<% end %>
	</table>
</div>
