<div class="unit span-grid flash">
	<% flash.each do |key, value| %>
		<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	<% end %>
</div>
<div class="unit span-grid edit">
	<div class="form">
		<h2>Preferences</h2>
		<%= form_for @option do |f| %>
			<p>lbs <%= radio_button("option","weight","lbs") %></p>
			<p>kgs <%= radio_button("option","weight","kgs") %></p>
			<%= f.submit "Update Preferences", class: "submit--button" %>
		<% end %>

		<h2>Edit your profile</h2>
		<%= form_for @user do |f| %>
			<%= f.text_field :name, placeholder: "Full name", class: "general--input" %>
			<%= f.text_field :email, placeholder: "Email", class: "general--input" %>
			<%= f.password_field :password, placeholder: "Password", class: "general--input" %>
			<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "general--input" %>
			<%= f.submit "Save changes", class: "submit--button" %>
		<% end %>
	</div>
</div>
</div>
