<div class="unit span-grid flash">
	<% flash.each do |key, value| %>
		<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	<% end %>
</div>
<div class="unit one-of-two card goals--card">
	<h2>Goals</h2>
	<%= render "shared/goals" %>
	<% if @user.goals.exists?(:user_id => @user.id, :complete => true) %>
		<h2>Completed</h2>
		<a class="show--more">Show more</a>
		<ul class="check--list completed--goals">
		<% @user.goals.where(:complete => true).order("created_at DESC").each do |g| %>
				<li>
					<label for="<%= g.id %>"><%= g.goal %></label>
					<label class="completed-on" for="<%= g.id %>">Completed on : <%= g.updated_at.to_formatted_s(:short) %></label>
				</li>
		<% end %>
		</ul>
	<% end %>
</div>
<div class="unit one-of-two card edit--card">
			<h2>Add goals</h2>
			<%= form_for @goal do |f| %>
				<%= f.text_field :goal, class: "general--input" %>

				<%= f.submit "Submit", class: "submit--button" %>
			<% end %>
</div>
