<div class="unit span-grid">
<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
<h2 class="unit span-grid">Goals</h2>
<div class="unit one-of-two card goals--card">
	<h2>Goals</h2>
	<%= render "shared/goals" %>
</div>
<div class="unit one-of-two card edit--card">
	<h2>Add goals</h2>
	<div class="grid inner">
		<%= form_for @goal, :remote => true do |f| %>
			<%= f.text_field :goal, class: "general--input" %>

			<%= f.submit "Submit", class: "submit--button" %>
		<% end %>
	</div>
</div>
</div>