<div class="unit span-grid">
	<h1>recur</h1>
	<h2 class="tag--line"><em>An great way to log your fitness progress</em></h2>
	<% if signed_in? %>
		<div class="center">
			<%= link_to 'Sign out', signout_path, method: "delete", class: 'button' %>
		</div>
	<% else %>
		<div class="center">
			<%=link_to 'Sign in', signin_path, class: 'button' %>
			<%=link_to 'Signup', signup_path, class: 'button' %>
		</div>
	<% end %>
	<div class="center home blue">
		<h1>What is recur?</h1>
		<p><strong>recur</strong> is tool to help you keep track of all those weights you've been lifting and all those miles you've been running.</p>
		<p>It focuses on 3 main aspects of keeping fit:</p>
		<ul>
			<li>Weight</li>
			<li>Goals</li>
			<li>Activity</li>
		</ul>
	</div>
	<div class="center home white">
		<p><strong>recur</strong> attempts to keep you focused on these three main aspects and not bombared you with load of bull shit you don't need.</p>
	</div>
	<div class="center home blue">
		<%= image_tag("share.png") %>
	</div>
	<div class="center home white">
		<p>Nobody wants to be/see this guy.</p>
	</div>
	<div class="center home blue">
		<p>Most people quit when they lose motivation because they're not seeing results. While results in the short term hard to be seen physically, <strong>recur</strong> will put them into numbers for you.</p>
	</div>
	<div class="center home white">
		<p>With <strong>recur</strong> you can track your weights..</p>
		<%= image_tag("weight.png") %>
	</div>
	<div class="center home white">
		<p>Track your goals</p>
		<%= image_tag("goal.png") %>
	</div>
	<div class="center home white">
		<p>Keep a fitness diary</p>
		<%= image_tag("log.png") %>
	</div>
</div>