<div class="unit span-grid flash">
	<% flash.each do |key, value| %>
		<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	<% end %>
</div>
<div class="unit span-grid card log--card">
	<h2>Update log</h2>
	<%= form_for @fitness_log do |f| %>
		<h3>Activity</h3>
		<%= f.text_field :activity, list: 'activities', class: 'general--input' %>
		<datalist id="activities">
			<% if @activities %>
				<% @activities.each do |a| %>
					<option value="<%= a %>">
				<% end %>
			<% end %>
		</datalist>
		<h3>Type</h3>
		<%= select :fitness_log, :type, [ ["Cardio",'cardio'], ["Strength",'strength']], class: 'choice select' %>
		<h3 class="cardio">Time</h3>
		<%= f.text_field :time, value: 0, class: 'cardio general--input' %>
		<h3 class="strength">Reps</h3>
		<%= f.text_field :reps, value: 0, class: 'strength general--input' %>
		<h3 class="strength">Sets</h3>
		<%= f.text_field :sets, value: 0, class: 'strength general--input' %>
		<h3 class="strength">Weight</h3>
		<%= f.text_field :weight, value: 0, class: 'strength general--input' %>
		<%= f.submit "Submit", class: "submit--button" %>
	<% end %>
</div>
<div class="unit span-grid card log--analysis">
	<div class="tab--bar">
		<nav>
			<ul>
				<li class="tab selected">Bench press</li>
				<li class="tab">Deadlift</li>
				<li class="tab">Squat</li>
			</ul>
		</nav>
	</div>
	<div class="charts">
		<% if @bench_chart %>
			<%= high_chart("bench--chart", @bench_chart) %>
		<% end %>
		<% if @dead_chart %>
			<%= high_chart("dead--chart", @dead_chart) %>
		<% end %>
		<% if @squat_chart %>
			<%= high_chart("squat--chart", @squat_chart) %>
		<% end %>
	</div>
</div>
