<div class="unit span-grid flash">
	<% flash.each do |key, value| %>
		<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	<% end %>
</div>
<div class="unit span-grid card log--card">
	<h2>Update log</h2>
	<%= form_for @fitness_log do |f| %>
		<h3>Date</h3>
		<%= f.date_field :created_at, :value => Time.now.strftime("%Y-%m-%d"), class: 'cardio general--input' %>
		<h3>Activity</h3>
		<%= f.text_field :activity, list: 'activities', class: 'general--input' %>
		<datalist id="activities">
			<% if @activities %>
				<% @activities.each do |a| %>
					<option value="<%= a %>">
				<% end %>
			<% end %>
		</datalist>
		<h3>Type</h3>
		<%= select :fitness_log, :type, [ ["Cardio",'cardio'], ["Strength",'strength']], class: 'choice select' %>
		<h3 class="cardio">Time (minutes)</h3>
		<%= f.text_field :time, value: 0, class: 'cardio general--input' %>
		<h3 class="strength">Reps</h3>
		<%= f.text_field :reps, value: 0, class: 'strength general--input' %>
		<h3 class="strength">Sets</h3>
		<%= f.text_field :sets, value: 0, class: 'strength general--input' %>
		<h3 class="strength">Weight</h3>
		<%= f.text_field :weight, value: 0, class: 'strength general--input' %>
		<%= f.submit "Submit", class: "submit--button" %>
	<% end %>
</div>
<div class="card unit span-grid log--card">
	<h2 class="card--header"><%=link_to(log_user_path(current_user)) do %>
		Fitness Log
	<% end %></h2>
	<% if @user.fitness_logs.where("created_at >= ?", 1.week.ago.utc).exists? %>
		<% @fitnessLog.each do |date, logs| %>
			<p class="date"><%= date %></p>
			<ul>
				<% logs.each do |log| %>
					<li>
					<p class="delete"><%= link_to 'X', fitness_log_path(log.id),
          :confirm => 'Are you sure?', :method => :delete %></p>
					<p class="activity"><%= log.activity %></p>
					<% if log.type == "cardio" %>
						<p class="meta"><%= log.time %> mins</p>
					<% else %>
						<p class="meta"><%= log.sets %>*<%= log.reps %> @ <%= log.weight %> <%= @weightFormat %></p>
					<% end %>
					</li>
				<% end %>
			</ul>
		<% end %>
	<% else %>
		<h2>Get to the gym!</h2>
	<% end %>
</div> <!-- log card -->
<div class="unit span-grid card log--analysis">
	<div class="tab--bar">
		<nav>
			<ul>
				<li class="tab selected">Bench press</li>
				<li class="tab">Deadlift</li>
				<li class="tab">Squat</li>
			</ul>
		</nav>
	</div>
	<div class="charts">
		<% if @bench_chart %>
			<%= high_chart("bench--chart", @bench_chart) %>
		<% else %>
			<h2 id="bench--chart">Get benching!</h2>
		<% end %>
		<% if @dead_chart %>
			<%= high_chart("dead--chart", @dead_chart) %>
		<% else %>
			<h2 id="dead--chart">Get deadlifting!</h2>
		<% end %>
		<% if @squat_chart %>
			<%= high_chart("squat--chart", @squat_chart) %>
		<% else %>
			<h2 id="squat--chart">Get squating!</h2>
		<% end %>
	</div>
</div>
