<div class="unit span-grid">
	<%= render "layouts/flash" %>
</div>
<div class="form">
	<h2>Welcome</h2>
	<%= form_for (@user) do |u| %>
		<!-- <%= u.label :name %> -->
		<%= u.text_field :name, class: 'general--input', :placeholder => "Full name" %>

		<!-- <%= u.label :email %> -->
		<%= u.text_field :email, class: 'general--input', :placeholder => "Email" %>

		<!-- <%= u.label :password %> -->
		<%= u.password_field :password, class: 'general--input', :placeholder => "Secret password" %>

		<!-- <%= u.label :password_confirmation, "Confirmation" %> -->
		<%= u.password_field :password_confirmation, class: 'general--input', :placeholder => "Confirm secret password" %>

		<%= u.submit "Sign me up", class: 'submit--button' %>
	<% end %>
</div>
