	<% if flash[:success] %>
  	<div class="success"><p><%= flash[:success] %></p></div>
	<% end %>
	<div class="card unit one-of-three weight--card">
		<h2><%=link_to "Weight", weight_user_path(current_user)%></h2>
		<div class="grid inner">
			<div class="unit one-of-two">
				<h3>Current Weight</h3>
				<p><%= @current_weight %> lbs</p>
			</div> <!-- weight inner left -->
			<div class="unit one-of-two">
				<h3>Goal Weight</h3>
				<% %>
				<p><%= @goal_weight %> lbs</p>
			</div> <!-- weight inner right -->
			<div class="unit span-grid graph">
				<canvas id="myChart" width="220" height="75"></canvas>
			</div> <!-- weight inner graph -->
		</div> <!-- weight inner grid -->
	</div> <!-- weight card -->
	<div class="card unit one-of-three date--card">
		<h2>Date</h2>
		<h3><%= Date.current().to_formatted_s(:long_ordinal) %></h3>
	</div> <!-- date--card -->
	<div class="card unit one-of-three goals--card">
		<h2>Goals</h2>
	</div> <!-- goals card -->
	<div class="card unit two-of-three log--card">
		<h2>Fitness Log</h2>
		<% if @user.fitness_logs.exists?(:user_id => @user.id) %>
			<% @user.fitness_logs.each do |fl| %>
				<%= fl.activity %>
			<% end %>
		<% end %>
	</div>
</div>