	<div class="unit span-grid flash">
	<% flash.each do |key, value| %>
		<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	<% end %>
</div>
	<div class="card unit one-of-three weight--card">
		<h2 class="card--header"><%=link_to(weight_user_path(current_user)) do %>
			Weight<%= image_tag('link.png', class: "link") %>
		<% end %></h2>
		<%= render 'shared/show_weight' %>
	</div> <!-- weight card -->

	<div class="card unit one-of-three date--card">
		<h2 class="card--header">Date</h2>
		<h3><%= @today.to_formatted_s(:long_ordinal) %></h3>
		<% if @user.fitness_logs.exists?(:user_id => @user.id) %>
			<p class="time-since"><%= distance_of_time_in_words(DateTime.now,@lastGymVisit) %> since your last visit to the gym.</p>
		<% end %>
	</div> <!-- date--card -->

	<div class="card unit one-of-three goals--card">
		<h2 class="card--header"><%=link_to(goals_user_path(current_user)) do %>
			Goals<%= image_tag('link.png', class: "link") %>
		<% end %></h2>
		<%= render 'shared/goals' %>
	</div> <!-- goals card -->

	<div class="unit one-of-six"></div>
	<div class="card unit two-of-three log--card">
		<h2 class="card--header"><%=link_to(log_user_path(current_user)) do %>
			Fitness Log<%= image_tag('link.png', class: "link") %>
		<% end %></h2>
		<% if @user.fitness_logs.where("created_at >= ?", 1.week.ago.utc).exists? %>
			<% @fitnessLog.each do |date, logs| %>
				<p class="date"><%= date %></p>
				<ul>
					<% logs.each do |log| %>
						<li>
						<p class="delete"><%= link_to 'X', fitness_log_path(log.id),
            :confirm => 'Are you sure?', :method => :delete %></p>
						<p class="activity"><%= log.activity %></p>
						<% if log.type == "cardio" %>
							<p class="meta"><%= log.time %> mins</p>
						<% else %>
							<p class="meta"><%= log.sets %>*<%= log.reps %> @ <%= log.weight %> <%= @weightFormat %></p>
						<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		<% else %>
			<h2>Get to the gym!</h2>
		<% end %>
	</div> <!-- log card -->
	<div class="unit one-of-six"></div>
</div>
