	<% if flash[:success] %>
		<div class="success unit span-grid"><p><%= flash[:success] %></p></div>
	<% end %>
	<div class="card unit one-of-three weight--card">
		<h2><%=link_to "Weight", weight_user_path(current_user)%><%= image_tag('link.png', class: "link") %></h2>
		<%= render 'shared/show_weight' %>
	</div> <!-- weight card -->

	<div class="card unit one-of-three date--card">
		<h2>Date</h2>
		<h3><%= @today.to_formatted_s(:long_ordinal) %></h3>
		<% if @user.fitness_logs.exists?(:user_id => @user.id) %>
			<p class="time-since"><%= distance_of_time_in_words(DateTime.now,@lastGymVisit) %> since your last visit to the gym.</p>
		<% end %>
	</div> <!-- date--card -->

	<div class="card unit one-of-three goals--card">
		<h2><%= link_to "Goals", goals_user_path(current_user) %><%= image_tag('link.png', class: "link") %></h2>
		<%= render 'shared/goals' %>
	</div> <!-- goals card -->

	<div class="unit one-of-six"></div>
	<div class="card unit two-of-three log--card">
		<h2><%=link_to "Fitness Log", log_user_path(current_user)%><%= image_tag('link.png', class: "link") %></h2>
		<% if @user.fitness_logs.where("created_at >= ?", 1.week.ago.utc).exists? %>
			<% @fitnessLog.each do |date, logs| %>
				<p class="date"><%= date %></p>
				<ul>
					<% logs.each do |log| %>
						<li>
						<%= log.activity %> -
						<% if log.type == "cardio" %>
							<%= log.time %> mins
						<% else %>
							<%= log.sets %>*<%= log.reps %> @ <%= log.weight %> <%= @weightFormat %>
						<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		<% else %>
			<h2>Get to the gym!</h2>
		<% end %>
	</div> <!-- log card -->
	<div class="unit one-of-six"></div>
</div>
