<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
<!-- <h2 class="unit span-grid">Weight</h2> -->
<div class="unit one-of-two card weight--card">
	<h2>Weight</h2>
	<%= render 'shared/show_weight' %>
</div>
<div class="unit one-of-two card edit--card">
	<h2>Update</h2>
	<div class="grid inner">
		<div class="unit one-of-two">
			<%= form_for @current_weight, :remote => true do |f| %>
			<h3>Current</h3>
			<%= f.text_field :weight, class: "general--input" %>
			<%= f.submit "Update Current", class: "submit--button" %>
			<% end %>
		</div>
		<div class="unit one-of-two">
			<%= form_for@goal_weight, :remote => true do |f| %>
			<h3>Goal</h3>
			<%= f.text_field :weight, class: "general--input" %>
			<%= f.submit "Update Goal", class: "submit--button" %>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
// $(function () {
//   new Highcharts.Chart({
//     chart: { renderTo: 'weightChart' },
//     title: { text: 'Current weight' },
// 	   xAxis: {
// 	   	type: 'datetime',
//       dateTimeLabelFormats: {
// 				month:'%e. %b',
// 				year: '%b'
//       }
// 	   },
//     yAxis: {
//       title: { text: 'Weight in <%= @weightFormat %>'}
//     },
//     series: [{
//       data: <%= @cw_array %>
//     }]
//   });
// });
</script>
<div class="unit span-grid card analytics--card" id="weightChart">
	<% if @chart %>
		<%= high_chart("weight--chart", @chart)  %>
	<% end %>
</div>
