<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="page">
			<%= link_to root_url do %>
				<h1>Fitness</h1>
			<% end %>
			<nav>
				<ul>
					<% if signed_in? %>
						<li><%= link_to current_user.name, user_path(current_user) %>
							<ul class='submenu'>
								<li><%=link_to "Edit" , edit_user_path(current_user)%></li>
								<li><%= link_to 'Sign out', signout_path, method: "delete"%></li>
							</ul></li>
					<% else %>
						<li><%= link_to 'Home', root_url %></li>
					<% end %>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Contact', contact_path %></li>
				</ul>
			</nav> <!-- nav -->
		<div/> <!-- page -->
	</header> <!-- header -->
		<div class="page content">
			<div class="main grid">
				<%= yield %>
			</div>
			<footer>
				<p><em>Copyright &copy 2014 <a href="http://danwilson.co">Dan Wilson</a></em></p>
			</footer>
		</div>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
