<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="page">
			<%= link_to root_url do %>
				<h1>Fitness</h1>
			<% end %>
			<nav>
				<ul>
					<% if signed_in? %>
						<li><%= link_to 'Profile', user_path(current_user) %></li>
					<% else %>
						<li><%= link_to 'Home', root_url %></li>
					<% end %>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Contact', contact_path %></li>
				</ul>
			</nav> <!-- nav -->
		<div/> <!-- page -->
	</header> <!-- header -->
		<div class="page content">
			<div class="main grid">
				<%= yield %>
			</div>
			<footer>
				<p><em>Copyright Dan Wilson 2014</em></p>
			</footer>
		</div>
</body>
</html>
